<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="VMPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="VMPrint" switchName="VMPrintAll">
        <listeners>
          <add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="VMPrint_trace.log" traceOutputOptions="DateTime"/>
          <remove name="Default"/>
          <clear/> <!-- Remove the <clear /> element to turn on tracing output -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="VMPrintAll" value="Verbose"/>
    </switches>
  </system.diagnostics>
  
<userSettings>
        <VMPrint.Properties.Settings>
                <setting name="OutputDir" serializeAs="String">
                        <value>%UserProfile%\VM Print\</value>
                </setting>
                <setting name="BranchNo" serializeAs="String">
                        <value>0001</value>
                </setting>
                <setting name="MachineNo" serializeAs="String">
                        <value>AAA</value>
                </setting>
                <setting name="SerialNo" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="OpenAfterPrint" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="RealPrinterName" serializeAs="String">
                        <value>Microsoft Print to PDF</value>
                </setting>
                <setting name="Style" serializeAs="String">
                        <value>D100310</value>
                </setting>
        </VMPrint.Properties.Settings>
    </userSettings>
</configuration>
